{% extends "base.html" %}

{% block content %}
<h2>Wpisy na blogu</h2>
<ul>
{% for entry in entries.items %}
    <li>
        <h3><a href="{{ entry.get_absolute_url() }}">{{ entry.title }}</a></h3>
        <p>{{ entry.body }}</p>
        {% if entry.is_published %}
        <p><small>Opublikowano: {{ entry.pub_date.strftime('%d.%m.%Y') }}</small></p>
        {% else %}
        <p><small>Wpis czeka na publikację</small></p>
        {% endif %}
    </li>
{% endfor %}
</ul>
<div>
{% if entries.has_prev %}
    <a href="{{ url_for('index', page=entries.prev_num) }}">Poprzednia strona</a>
{% endif %}
{% if entries.has_next %}
    <a href="{{ url_for('index', page=entries.next_num) }}">Następna strona</a>
{% endif %}
</div>
{% endblock %}